*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height:100vh;
    width: auto !important;
    /*background:rgb(222, 255, 166);*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    /*margin-left: 100px;*/
    /*margin-top:100px;*/
}
.calculator{
    padding: 20px;
    background-color: #24262a;
    border-radius: 20px;
    box-shadow: -5.8px -5.4px yellow, 5.8px 5.4px yellow;
}
.calculator form input{
    border:0;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
    box-shadow: -8px -8px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.2);
    background-color: transparent;
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display:flex;
    justify-content: flex-end;
    margin:20px 0;
    box-shadow: -1.4px -1.8px yellowgreen ,1.4px 1.8px yellowgreen;
    border-radius: 10px;
}
form .display input{
    text-align: right;
    flex:1;
    font-size:45px;
    text-shadow: -0.4px -0.8px 3px rgb(249, 228, 0), 0.8px 0.4px 2px rgb(254, 42, 0);
   /*box-shadow:none;*/
}
form input.equal{
    text-align:center;
    flex: 1;
    display: inline;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    width:140px;
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.AC{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.DE{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.Point{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.Divide{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.Multiply{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.Subtract{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.Addition{
    color: rgb(0, 247, 255);
    box-shadow: -1.4px -1.8px 2px skyblue ,1.4px 1.8px 2px rgb(253, 253, 152);
    /*box-shadow: -1.4px -1.8px 1px skyblue ,1.4px 1.8px skyblue;*/
}
form input.One{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Two{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Three{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Four{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Five{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Six{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Seven{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Eight{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Nine{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Lkg{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
form input.Ukg{
    box-shadow: -3.4px -3.8px 3.5px rgb(255, 255, 255) ,0.4px 0.8px white;
}
.h1{
    display:flex;
    justify-content: center;
    color: greenyellow;
    font-size: 45px;
    text-shadow:-2.4px -1.8px  rgb(0, 0, 0),2.4px 1.8px rgb(0, 0, 0);
    /*text-shadow:-0.4px -0.8px 3px rgb(249, 228, 0),0.4px 0.8px 3px skyblue;*/
    /*text-shadow: -0.4px -0.8px 3px rgb(249, 228, 0), 0.8px 0.4px 2px rgb(254, 42, 0);*/
}
/*span{
    color:black;
    text-shadow:-0.4px -0.8px 1px rgb(249, 228, 0),0.4px 0.8px 1px white;
}*/